<!-- ** FOOTER ** -->

footer.wow.fadeIn
	.wrapper
		.footer
			a(href="#").footer__logo
				img(src="img/logo.png" alt="")
			.footer__center
				.center__lft
					p KRONBAU GmbH
					p Neustraße 1 
					p 40789 Monheim am Rhein, Deutschland
				.center__rht
					nav
						h3 Projects
						ul
							li
								a(href="#projects") Windeck
							li
								a(href="#projects") Bornheim
					nav
						h3 Other links
						ul
							li
								a(href="#") Impressum 
							li
								a(href="#") Haftungsausschluss 
							li
								a(href="#") Datenschutzerklärung
			.footer__bottom
				p Copyright 2021 - Kronbau
				//- a(href="#")
					img(src="img/ft-photo-1.png" alt="")
				//- a(href="#")
					img(src="img/ft-photo-2.png" alt="")


<!-- ** FOOTER ** -->
