<!-- ** HEADER ** -->

header.wow.fadeInDown(data-wow-delay=".5s")
	.wrapper
		.header.header-other
			a(href="index.html").header__logo
				img(src="img/logo.png" alt="")
			nav.header__nav
				ul.header__menu
					li
						a(href="index.html?projects") Projects
					li
						a(href="index.html?things") About us
					li
						a(href="index.html?work") What we do
					li
						a(href="index.html?contacts") Contact
					li
						a(href="#") Token
					
				ul.header__lang_mob
					li
						a(href="#") DE
					li.li_active
						a(href="#") EN
			ul.header__lang
				li
					a(href="#") Login
				li
					a(href="#") DE
				li.li_active
					a(href="#") EN
			button.header__burger
				.line
				.line
				.line

<!-- ** HEADER ** -->
