<!-- ** HEADER ** -->

header.wow.fadeInDown(data-wow-delay=".5s")
	.wrapper
		.header
			a(href="index.html").header__logo
				img(src="img/logo.png" alt="")
			nav.header__nav
				ul.header__menu
					li
						a(href="#projects") Projects
					li
						a(href="#things") About us
					li
						a(href="#work") What we do
					li
						a(href="#contacts") Contact
					li
						a(href="#partners") Partners
					li
						a(href="blog.html") Blog
				ul.header__lang_mob
					li
						a(href="#") DE
					li.li_active
						a(href="#") EN
			ul.header__lang
				li
					a(href="#") DE
				li.li_active
					a(href="#") EN
			button.header__burger
				.line
				.line
				.line

<!-- ** HEADER ** -->
