extends includes/head.pug
block body

	body
		include includes/header.pug

		main

			section.single-page
				.single-page__bgd.wow.fadeIn
					img(src="img/blog/blog.jpeg" alt="")
				.wrapper
					h1.wow.fadeInDown Confortul termic al căminului tău: Cum să ai facturi mai mici
					time.wow.fadeInDown(data-wow-delay=".2s") 27.01.2023

					.single-page__sides
						.single-page__lft
							p.wow.fadeInDown Iarna este pe cale să înceapă. Criza energiei prin care trece întreaga lume înseamnă că deja am început să ne uităm mult mai atent la facturile de gaz și electricitate. Este deci din ce în ce mai important ca locuința ta să fie cat mai eficientă posibil din punct de vedere termic. Iată 5 moduri esențiale prin care îți poți asigura confortul termic cu facturi reduse la utilități.
							h2.wow.fadeInDown Cărămizile
							p.wow.fadeInDown Contează foarte mult din ce este construit perete căminului tău. Calitatea cărămizilor poate să ajute considerabil la menținerea confortului termic, dar și sonor. La Noua Residence 2, am construit pereții apartamentelor din cărămizi Porotherm 25/30 Eco de la Wienerberger. Le-am ales deoarece sunt o soluție premium, care asigură confort optim din punct de vedere al sunetului și izolării termice.
							h2.wow.fadeInDown Izolația exterioară
							p.wow.fadeInDown La fel de importantă este cu ce sunt izolați pereții în exterior. De departe cea mai eficiență soluție este vata bazaltică, pe care și noi o folosim la blocurile complexului nostru rezindențial. Și nu oricare, ci una de top: Rockwool. Ce înseamnă asta pentru tine? Facturi reduse la gaz, mai multă liniște în casă, rezistență la umezeală și la foc. Mai mult de atât, este durabilă și ecologică, adică fabricată din materiale naturale fără substanțe periculoase.
							h2.wow.fadeInDown Ferestrele
							p.wow.fadeInDown Noua Residence 2 aduce în apartamentele viitorilor locatari ferestre PVC (termopan) fiabile și de calitate de la prestigiosul producător german Gealan.
							p.wow.fadeInDown Ca avantaje pentru locatari, ferestrele de termopan înseamnă mai multă lumină și liniște în casă, prevenirea formării mucegaiului și igrasiei și confort termic în orice anotimp. Și, evident, facturi mai mici la gaz.
							h2.wow.fadeInDown Centrala termică în condensare
							p.wow.fadeInDown Comparativ cu una tradițională, o centrală termică pe condensare îți poate asigura un consum de gaz cu aproximativ 25-30% mai redus. În viitorul tău apartament de la Noua Residence 2, instalăm centrale termice în condensare marca Vaillant.
							p.wow.fadeInDown Centralele Vaillant se laudă cu un motor german, cu cea mai mare rată de încălzire de pe piață (a fost și premiat pentru asta). Vaillant este printre cele mai bune mărci de centrale termice din țara noastră, piesele de schimb sunt ușor de găsit și beneficiază de un serviciu de relații cu clienții foarte bun.
							h2.wow.fadeInDown Încălzirea în pardoseală
							p.wow.fadeInDown Complementar cu centrala termică, încălzirea în pardoseală îți va reduce încă până la 12% din consumul energetic. Te va bucura să știi că apartamentele din Noua Residence 2 au încălzire electrica instalată sub zonele cu gresie din bucătărie și baie. Adio papuci de casă!
							p.wow.fadeInDown Îți dorim o iarnă cât mai plăcută și confortabilă și cu facturi cât mai mici!
						.single-page__rht
							a(href="single.html").single-page__item.wow.fadeInRight
								.item__photo
									img(src="img/blog/blog.jpeg" alt="")
								p.item__title 5 trucuri pentru a face mutatul mai usor
							a(href="single.html").single-page__item.wow.fadeInRight
								.item__photo
									img(src="img/blog/blog.jpeg" alt="")
								p.item__title 5 trucuri pentru a face mutatul mai usor


		include includes/footer.pug
		include includes/scripts.pug
